# Code owners for PublisherStandown-SDK
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @rr-travis-coulter @rr-Max-McCall

.github/workflows/ @rr-jino-jose
